body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}

.topbar{
  background-color: rgb(48, 48, 48);
  padding: 1px;
}

.websiteicon{
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 20px;
  padding: 0px;
}

.websitetitle{
  width: 70%;
  margin: 0px;
  padding: 5px;
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  color: rgb(170, 170, 170);
}

.pagebtns{
  background-color: rgb(27, 27, 27);
  padding: 10px;
  margin: 10px;
  width: 30%;
}

.malwarepage{
  background-color: rgb(43, 43, 43);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.harmlesspage{
  background-color: rgb(43, 43, 43);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}